/* reset */

ul {
  list-style-type: none;
}

input {
  display: block;
}

/* main */

body {
  background: #FAFAFA;
}

.container {
  margin-top: 30px;
}

nav {
  margin-bottom: 20px;
}

nav > a {
  margin-right: 10px;
}

h4 > span {
  font-size: 0.7em;
}
