extends ../../views/layout
    
block content 
  p The contract has not been deployed yet
  
  input(value="Deploy", type="submit")
  
  p The contract is present at address: ADDR
  
  p These are all the methods available:
  
  
  p Your coinbase is: #{eth.coinbase}
