extends layout
    
block content 
  p Welcome to BApp framework
   
  p You can find this page in ./views/index.jade
  
  p A SimpleStorage contract is present by default in your app
  
  p You can go to the SimpleStorage page and deploy it 
